<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<main role="main" class="container">
    <div class="starter-template">
        <img class="logo" src="/images/logo.png"  style="width:86px;height:80px;" alt="My_Logo">
        <br/>
        <a href='/Paul'>Paul</a> <br/>
        <a href='/Leo'>Leo</a> <br/>
        <a href='/Kraz'>Kraz</a> <br/>
        <a href='/Yang'>Yang</a> <br/>

        <!-- Child view goes here. -->
        <%- body %>
    </div>
</main>
</body>
</html>
